<%- include('includes/header')  %>

    <%- include('includes/navbar')  %>

    <main class="container">
        <div class="linha">
            <div class="coluna">
                <h1>Erro 404</h1>
                <p>Página não encontrada.</p>
            </div>
        </div>
    </main>

<%- include('includes/footer')  %>