<%- include('includes/header')  %>

    <%- include('includes/navbar')  %>

    <main class="container">
        <div class="linha">
            <div class="coluna">
                <img src="assets/img/banner.png" alt="Banner Minha Agenda">
                
            </div>
        </div>
    </main>

<%- include('includes/footer')  %>